.bodytext {
    overflow: auto;
}

table {
  font-family: 'Montserrat', cursive;
  border-collapse: collapse;
  width: 100%;
  padding-left: 15px;
}

td, th {
  border: none;
  text-align: left;
  padding: 8px;
  padding-left: 15px;
  vertical-align: text-top;
  
}
tr {
    height:300px;
}
.r1 {
    
}
.left{
    width:40%;
}
.heading {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vw;
    padding-left: 15px;
}
.headings {
    font-family: 'Fredericka the Great', cursive;
    font-size: 1vw;
    padding-left: 5px;
}
.bodytext {
    font-family: 'Montserrat', cursive;
    margin-left: 180px;
    font-size: 18px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 200px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
#right1 {
    float: left;
    background: white;
    height: 40%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10%;
}
#right2 {
    float: left;
    background: white;
    height: 40%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10%;
    
}
#right3 {
    float: left;
    background: white;
    height: 40%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10%;
}
#right4 {
    float: left;
    background: white;
    height: 40%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10%;
    
}
#right5 {
    float: left;
    background: white;
    height: 40%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10%;
    
}
.sidebar {
height: 100%;
width: 250px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: grey;
color:white;
}
.section {
    width:350px;
    float:left;
    padding:10px;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.hidden1 {
display:none;
}
.hidden2 {
display:none;
}
.hidden3 {
display:none;
}
.hidden4 {
display:none;
}
.show {
display:block;
}
