<h1>Edit Form <%= @gform.name %></h1>

<h1><%= @gform.edit_link%></h1>

<iframe src= https://docs.google.com/forms/d/1qM7eJL000Qe9-JM4Xe3ECVHNoQ1RhyTOdYDh8To8ZjY/edit width="640" height="1307" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

<%= link_to 'Show', @gform %> |
<%= link_to 'Back', gforms_path %>

