<h1>Preview Form <%= @gform.name %></h1>

<iframe src= <%= "#{@gform.view_link}"%> width="640" height="1307" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

<%= link_to 'Show', @gform %> |
<%= link_to 'Back', gforms_path %>

