<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="designer.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  </head>
<body class="bodytext">
  <div class="sidebar">
    <nav>
      <div>
        <input type="button" id = "curatedStacksButton" value="Curated" class="btn btn-secondary btn-lg btn-block btn-dark"/>
      </div>
      <div>
        <input type="button" id = "finalListButton" value="Final List" class="btn btn-secondary btn-lg btn-block btn-dark"/>
      </div>
    </nav>
  </div>
   <div class="body-text">
  <div id="right1" class="show">
    <h1 class="heading">Users#designers</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p><p>Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim.</p>
      <br/>
      <div class="card">
        <div class="container">
          <h4><b>Stack for event 1</b></h4>
          <p><a href="">Click to expand</a></p>
        </div>
      </div>
      <br/><br/>
      <div class="card">
        <div class="container">
          <h4><b>Stack for event 2</b></h4>
          <p><a href="">Click to expand</a></p>
        </div>
      </div>
      <br/><br/>
      <div class="card">
        <div class="container">
          <h4><b>Stack for event 3</b></h4>
          <p><a href="">Click to expand</a></p>
        </div>
      </div>
 </div>
  <div id="right2" class="hidden">
    <h1 class="heading">Users#designers</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lorem mauris. Nulla fermentum tincidunt nulla et dignissim. In porttitor sem id velit lobortis aliquam.</p>
  </div>
  </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>
  $(function () {

$('#curatedStacksButton').click(function () {

$('.show').show();
$('.hidden').hide();

});
$('#finalListButton').click(function () {

$('.show').hide();
$('.hidden').show();

});
});
</script>
</body>
</html>