<h1>CASTNXT Home Page</h1>
<p>Register today for our fashion events!</p>

<br>
<%= link_to "Home Page", users_home_path %>
<%= link_to "Profile Page", users_profile_path %>
<%= link_to "Applicants Page", users_applicants_path %>
<%= link_to "Registration Page", users_registration_path %>
