<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="new.css">
</head>
<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100" style="margin-top:150px;">
				<div class="card-wrapper">
					<div class="card1 fat">
					    <div class="card-body">
					        <image class="logo" src='https://secureservercdn.net/166.62.110.72/04n.4f2.myftpupload.com/wp-content/uploads/2016/07/FashioNXT-2016-White-Logo.png' width="200px" height="25px"></image>
					        <h3 class="card-title">Sign in</h3>
					        <p class="inside-card">to continue to FashioNXT</p>
					        


<div class = "google-image">
<%= google_sign_in_button proceed_to: gauthcontroller_handle_url do %>
    <%= image_tag('https://developers.google.com/identity/images/g-logo.png', alt: 'Google', style: "width:30px;height:30px;") %> Sign in with Google
<% end %>
</div>
</div>
</div> 
</div>  
</div>  
</div>  
</section>
</body>



</html>




